$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "partials/themes";
@import "partials/menu";
@import "partials/login";
@import "partials/weather";
@import "partials/useritem";
@import "partials/ddi";

//global

.btn-warning {
  padding: 10px 35px;
}

a:hover {
  color: white;
  background-color: black;
}

.time {
  text-align: center;
  margin-top: -20px;
}

h1 {
  text-align: center;
}

h3 {

}

nav {
  text-align: center;
  display: inline-block;
}


.home {
  height: 100vh;
}

body {
  padding: 0px;
  font-family: 'Lato', sans-serf;
  background-image: url(../images/bg.png);
  color: rgba(10,10,10,0.9);
  border-color: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
};

