.dark {
  background-color:rgba(10,10,10,0.8);
  color: white;
  & div.uitem{
    background-color: rgba(250,250,250,0.9);
    color: rgba(20,20,20,0.9);
  }
  & i.fa {
    color: white;
    & span.white {
      color: white;
    }
  }
  & .glyphicon-cog {
    color: white;
    & span.white {
      color: white;
    }
  }
}

.abril {
  font-family: 'Abril Fatface', cursive;
}

.poiret {
  font-family: 'Poiret One', cursive;
}

.merriweather {
  font-family: 'Merriweather', serif;
}
