<div class="home" ng-class="{ 'dark': dark, 'abril' : abril, 'poiret' : poiret, 'merriweather':merriweather, 'sunset': sunset, 'forest': forest }">
  <nav class="inline">
    <ng-include src="'views/partials/menu.html'"></ng-include>
    <ul class="nav nav-pills">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <i class="fa fa-paint-brush"></i><span class="caret white"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="dark=false;sunset=false;forest=false">Light</a></li>
          <li><a ng-click="dark=true;sunset=false;forest=false">Dark</a></li>
          <li><a ng-click="sunset=true;dark=false;forest=false">Sunset</a></li>
          <li><a ng-click="forest=true;sunset=false;dark=false">Forest</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <i class="fa fa-font"></i><span class="caret white"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="abril=false;poiret=false;merriweather=false">Default</a></li>
          <li><a ng-click="abril=true;poiret=false;merriweather=false">Abril</a></li>
          <li><a ng-click="poiret=true;merriweather=false">Poiret</a></li>
          <li><a ng-click="merriweather=true;">Merriweather</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="" ng-controller="WeatherController as weatherCtrl">
    <div class="weather-div">
      <kf-weather weather="weatherCtrl.currentweather"></kf-weather>
    </div>
  </div>

  <br>

  <div>

  <div class="time" ng-controller="TimeController">
    <h1>{{ clock | date: 'HH:mm'}}</h1>
    {{ clock | date: 'MMM dd yyyy'}}
  </div>
    <div ng-controller="UserController as userController">
      <h1><span ng-controller="TimeController">{{ clock | date: 'HH' | timeFilter }}</span>, {{ userController.user.name }}</h1>
     <user-items user="userController.user"></user-items>
    </div>


  </div>
</div>


