<br><br>
<div class="container">
  <h1 class="login-welcome">Welcome to Dash</h1>
  <p class="login-welcome">Please Log In</p>
  <div class="form-box" ng-controller="TabController as tab">
    <ul class="nav nav-tabs">
      <li ng-class="{ active:tab.isSet(1) }"><a href="" ng-click="tab.setTab(1)">Login</a></li>
      <li ng-class="{ active:tab.isSet(2) }"><a href="" ng-click="tab.setTab(2)">Sign Up</a></li>
    </ul>
    <div ng-show="tab.isSet(1)">
      <login-form></login-form>
    </div>
    <div ng-show="tab.isSet(2)">
       <signup-form></signup-form>
    </div>
  </div>
</div>
