<div class="login-page">
<div class="container">
  <h1 class="login-welcome logo"><small>the</small>buzz <i class="fa fa-coffee"></i></h1>
  <p class="slogan">get your fix</p>
  <div class="form-box" ng-controller="TabController as tab">
    <ul class="nav nav-tabs">
      <li ng-class="{ active:tab.isSet(1) }"><a href="" ng-click="tab.setTab(1)">Login</a></li>
      <li ng-class="{ active:tab.isSet(2) }"><a href="" ng-click="tab.setTab(2)">Sign Up</a></li>
    </ul>
    <div ng-show="tab.isSet(1)">
      <login-form></login-form>
    </div>
    <div ng-show="tab.isSet(2)">
       <signup-form></signup-form>
    </div>
  </div>
</div>
</div>
