<div class="rss">
  <div data-ng-controller="RssReaderController as rssReaderController">
    <div class="">
      <h4>Rss Feed</h4>
      <form>
        <div class="input-prepend span12">

          <div class="btn-group">
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" tabindex="-1"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="rssReaderController.loadFeed($event,'http://feeds.huffingtonpost.com/huffingtonpost/raw_feed')">In the Know</a></li>
              <li><a href="#" ng-click="rssReaderController.loadFeed($event,'http://www.buzzfeed.com/lol.xml')">Lols</a></li>
              <li ng-repeat="userfeed in rssReaderController.user.feeds" ng-hide="removefeed"><a href="#" ng-click="rssReaderController.loadFeed($event,'{{userfeed.url}}')">{{ userfeed.name }} | {{userfeed.category}}</a><a ng-click="">del</a></li>
              <li><a href="#" ng-click="">Add Your Own RSS Feed</a></li>
            </ul>
          </div>

          <input type="text" class="span10" autocomplete="off" placeholder="Enter Feed URL" data-ng-model="feedSrc" />
        </div>
      </form>
    </div>

    <div class="">
      <ul class="unstyled">
        <span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>
        <li ng-repeat="feed in feeds | filter:filterText">
          <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
          <p class="text-left">{{feed.contentSnippet | xmlFilter }}</p>
          <span class="small">{{feed.publishedDate}}</span>
        </li>
      </ul>
    </div>
  </div>

</div>
