<div class="container">

  <form id="signup-form" name="signupForm" ng-submit="signupController.signup(signupController.credentials)" novalidate>

    <div class="form-group">
      <label id="name-label" for="name">Name: </label>
      <input id="name" type="text" name="name" ng-model="signupController.credentials.name" required>
    </div>
    <div class="form-group">
      <label id="email-label" for="email">Email: </label>
      <input id="email" type="text" name="email" ng-model="signupController.credentials.email" required>
    </div>

    <div class="form-group">
      <label id="password-label" for="password">Password: </label>
      <input id="password" type="password" name="password" ng-model="signupController.credentials.password" required>
    </div>

    <div class="form-group">
      <label id="password-confirmation-label" for="password-confirmattion">Confirm Password: </label>
      <input id="password-confirmation" type="password" name="password-confirmation" ng-model="signupController.credentials.passwordConfirmation" required>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-default button-submit" ng-disabled="signupForm.$invalid" value="Signup">
    </div>

  </form>

</div>
