<div class="user-items">
  <div class="" ng-controller="UserController as userController">
    <div class="uitem">
      <button type="button" class="btn btn-xs" aria-label="Left Align" ng-click="shownote = !shownote">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button><h4>Notes:</h4>
      <p ng-repeat="note in userController.user.notes" ng-hide="removenote">{{ note.body }}<a ng-click="userController.deleteNote(note); removenote = true">delete</a></p>
      <ng-include src="'views/partials/new-note-form.html'" ng-show="shownote"></ng-include>
    </div>

    <div class="uitem">
      <button type="button" class="btn btn-xs" aria-label="Left Align" ng-click="showlink = !showlink">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button><h4>Links:</h4>
      <p ng-repeat="link in userController.user.links" ng-hide="removelink"><a href="http://{{link.url}}" target="_blank">{{ link.url | urlFilter }}</a> <a ng-click="userController.deleteLink(link); removelink = true">delete</a></p>
      <ng-include src="'views/partials/new-link-form.html'" ng-show="showlink"></ng-include>
    </div>

    <div class="uitem">
      <button type="button" class="btn btn-xs" aria-label="Left Align" ng-click="showfeed = !showfeed">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button><h4>Feeds</h4>
      <div ng-repeat="feed in userController.user.feeds" ng-hide="removefeed"><p>{{ feed.name }} | {{feed.category}}</p><p> {{feed.url}} <a ng-click="userController.deleteFeed(feed); removefeed = true">delete</a></p>
      </div>
      <ng-include src="'views/partials/new-feed-form.html'" ng-show="showfeed"></ng-include>
    </div>

    <div class="uitem" id="rss-feed">
      <ng-include src="'views/rss-feed.html'"></ng-include>
    </div>

  </div>

</div>


