<div class="user-items">
  <div class="" ng-controller="UserController as userController">
    <p>Hello, {{ userController.user.name }}</p>

    <div class="uitem">
      <h3>Notes:</h3>
      <p ng-repeat="note in userController.user.notes">{{ note.body }}</p>
      <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="shownote = !shownote">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <ng-include src="'views/partials/new-note-form.html'" ng-show="shownote"></ng-include>
    </div>

    <div class="uitem">
      <h3>Links:</h3>
      <p ng-repeat="link in userController.user.links">{{ link.url }}</p>
      <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="showlink = !showlink">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <ng-include src="'views/partials/new-link-form.html'" ng-show="showlink"></ng-include>
    </div>
  </div>
</div>


